<div class="navbar-item">
  <div class="buttons">
    <a class="button is-primary" href="<%= new_user_registration_url %>">
      <strong>Sign up</strong>
      <span class="icon">
        <i class="fas fa-user-plus"></i>
      </span>
    </a>
    <a class="button is-light" href="<%= new_user_session_url %>">
      <strong>Log in</strong>
      <span class="icon">
        <i class="fas fa-sign-in-alt"></i>
      </span>
    </a>
  </div>
</div>
